<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Manufacturers list</title>
</head>
<body>


<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Drugs
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>Operations</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="manufacturer : ${manufacturers}">
                            <td th:text="${manufacturer.getName()}"></td>
                            <td>
                                <form th:action="@{/manufacturer/{name}(name=${manufacturer.getName()})}" method="post">
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <a type="button" class="btn btn-primary" th:href="@{/drugs}">Drugs list</a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>